body{
    padding: 50px;
    margin: 0 auto;
    background: #003b6f;
    color: #fff;
}
.options, .title, .output{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	height:20%;
	width:100%;
}
.button{
    display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:row;
	padding: 5px;
    width: 200px;
    border-radius: 10px;
    background: white;
    outline: none;
    border: none;
    cursor: pointer;
	margin:10px;

	
}
