/*FORM-BEGIN*/
button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: rgba(17, 84, 239, 0.6);
}

input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical; /*Lock text field resizing to only vertical axis*/
	background-color:#e0dede;/*Slight off grey background for text fields*/
	color:black;
}
input[type=submit] {
	background-color: transparent;/*custom blue color HEX from dress in imagery*/
	color: white;
	padding: 10px 20px;
	border: 2px solid white;
	cursor: pointer;
	transition: background-color 0.5s ease;
}
input[type=submit]:hover {
	background-color: rgba(17, 84, 239, 0.6);/*Highlight for showing button is ready to be clicked*/
}
.container {
	border-radius: 5px;
	background-color: black;
	margin-top:20px;
	padding: 20px;
	color:white;
}
 /*FORM-END*/
/*SETLIST-BEGIN*/
.setList{
	margin:20px;
	display:none;
}
.setList ul{
	list-style-type: circle;
	list-style-position:inside;
	font-size:25px;

}
.setList h3{
	font-size:50px;
	padding-left:20px;
}
.setList p{
	font-size:25px;
	padding-left:40px;

}
/*SETLIST-END*/